/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
grijs #899CA0 en donkergroen #1C2B32


/*////////////////////////
    1. Global Styles
////////////////////////*/

* {box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*////////////////////////
    2. Typography
////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500 0,600 ;1,300;1,400;1,500;1,600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #1C2B32;
}
h1 {
    font-size: 130px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin-block: 64px;
}

h1,
h2 {
    text-align: center;

}
main {
    max-width: 1000px;
    margin: 0 auto;
}

/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/

.head-subtitle {
    font-weight: 600;
}



header {
    background-image: url("../assets/images/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.head-section {
    padding: 96px 96px 400px;
}

.head-input {
    border-radius: 50px 0 0 50px;
    margin-top: 32px;
    background-color: transparent;
    color: #1C2B32;
    font-size: 18px;
    padding: 24px 32px;
    width: 350px;
    border: 2px solid #1C2B32;
    outline: none;
}

.head-button {
    border-radius: 0 50px 50px 0;
    margin-left: -7px;
    padding: 24px 32px;
    background-color: #1C2B32;
    color: #ffffff;
    font-size: 18px;
    border: 2px solid #1C2B32;
    outline: none;
}

.head-button:hover {
    cursor: pointer;
}

.head-input::placeholder {
    color: #1C2B32;
    font-size: 18px;
}

.head-input:focus::placeholder {
    color: transparent;
}
/*///////////// 3.2 Testimonial /////////////*/
.testimonial {
    margin-block: 64px;
    position: relative;
}

.testimonial-first, .testimonial-second {
    padding: 24px 96px 64px 150px;
    margin-block: 64px;
    border-radius: 12px;
    box-shadow: 0 8px 18px 2px rgba(24, 39, 75, 0.12),
    0 6px 20px 4px rgba(24, 39, 75, 0.12);
}

.testimonial-avatar {
    width: 44px;
    height: 44px;
    vertical-align: middle;
}

.testimonial-name {
    font-style: italic;
    margin-left: 24px;
    display: inline;
}

.quote-icon {
    position: relative;
    left: -50px;
    top: 36px;
}

.blockquote-testimonial {
    position: relative;
    margin-bottom: 24px;

}


/*///////////// 3.3 Support /////////////*/

.head-testimonial .head-customer-service {
    text-align: center;
    margin-block: 24px;
}


.callcenter-picture {
    border-radius: 10px;
    max-width: 100%;
}

.support-link {
    color: #1C2B32;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.support-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.support-link:visited {
    color: #899CA0;
}

.support-button {
    color: #ffffff;
    background-color: #1C2B32;
    border-radius: 50px;
    font-size: 18px;
    padding: 24px 32px;
    border: 2px solid #1C2B32;
    outline: none;
}

.support-button:hover {
    cursor: pointer;
}

/*///////////// 3.4 Faq /////////////*/
.faq-section {
    margin-block: 64px;
}
.faq-details {
    margin-block: 24px;
}

.faq-summary {
    margin-bottom: 10px;
}

.faq-summary:hover {
    cursor: pointer;
}
.faq-collapsable {
    padding: 24px 32px ;
    color: #ffffff;
    background-color: #899CA0;
    border-radius: 12px;
}
/*///////////// 3.5 Footer /////////////*/
.footer {
    background-color: #1C2B32;
    padding-block: 32px;
    width: 100%;
}

.footer-text {
    text-align: center;
    color: white;
    font-size: 14px;
}